.search-box {
  position: absolute;
  top: 25px;
  width: 100%;
  padding: 0 10px;
}

.search-box .search {
  flex: 1;
  height: 34px;
  margin: 0 10px;
  padding: 5px 5px 5px 8px;
  background-color: #fff;
  border-radius: 3px;
}

.search-box .search .location .icon-arrow {
  margin-left: 2px;
  font-size: 12px;
  color: #7f7f80;
}

.search-box .search .form {
  border-left: 1px solid #e5e5e5;
  margin-left: 12px;
  line-height: 16px;
}

.search-box .search .form .icon-seach {
  vertical-align: middle;
  padding: 0 2px 0 5px;
  color: #9c9fa1;
  font-size: 15px;
}

.search-box .search .form .text {
  font-size: 13px;
  color: #9c9fa1;
  padding-left: 4px;
}

.search-box .icon-map {
  font-size: 25px;
  color: #fff;
}
