.citylist {
  height: 100%;
  padding-top: 45px;
}

.citylist .am-navbar-light {
  background-color: #f6f5f6;
  margin-top: -45px;
}

.citylist .icon-back {
  color: #333;
}

.citylist .am-navbar-title {
  color: #000;
}

.city .title {
  font-size: 14px;
  padding: 10px 15px;
  color: #999;
  height: 40px;
}

.city .city-content {
  width: 100%;
  font-size: 16px;
  height: 50px;
  line-height: 50px;
  color: #333;
  background-color: #fff;
  padding: 0 15px;
  border-bottom: 1px solid #eeeeee;
  cursor: pointer;
}

.city-index {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 5px;
  z-index: 1;
  height: 90%;
  box-sizing: border-box;
  padding-top: 20px;
  text-align: center;
}

.city-index .city-index-item {
  flex: 1;
}

.city-index .index-active {
  color: #fff;
  background-color: #21b97a;
  border-radius: 100%;
  display: inline-block;
  font-size: 12px;
  width: 15px;
  height: 15px;
  line-height: 15px;
}
