/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
html,body{
  height: 100%;
  font-family: 'Microsoft YaHei';
  color: #333;
  background-color: #fff;
}
*{
  box-sizing: border-box;
  /* touch-action: pan-y; */
  touch-action: none;
}
h2,h3,p,ul,h1{
  margin:0;
}
ul{
  list-style: none;
}
.App,
#root{
  height:100%;
}  
body{
  margin:0px;
  padding:0px
}